mixin countryList(country)

    li
        a(href=`/countries/${country}`) #{country}
            - const countryLowerCase = country.toLowerCase()
            img(src=`/images/countries/${countryLowerCase}.jpg`)
        //- #{country} is to output our dynamic countries